services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command:
      - bash
      - -lc
      - python manage.py runserver 0.0.0.0:8000
    environment:
      DJANGO_SETTINGS_MODULE: config.settings
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    working_dir: /app
